<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Update Products</title>
    <script src="updateProduct.js"></script>
</head>
<body>
    <h2>Update Product</h2>
    <label>Product ID</label>
    <input type="text" name="pID" id="pID" class="inputfield"/><br/>

    <label>New Name</label>
    <input type="text" name="pName" id="pName" class="inputfield"/><br/>

    <label>New Price</label>
    <input type="number" name="newPrice" id="newPrice" class="inputfield"/><br/>

    <input type="button" value="Submit" onclick="updateProduct()"/>
</body>
</html>