<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Edit Profile</title>
    <script src="employeefunctions.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">

</head>
<body onload="getUserId()">
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidenavbar">
          <header>
            <a href="dashboard.html">Employee Services</a>
          </header>
          <ul class="nav">
            <li>
              <a href="dashboard.html">
                <i class="bi bi-house-door-fill"></i> Home
              </a>
            </li>
            <li>
              <a href="sendrequest.html">
                <i class="bi bi-file-text-fill"></i> Send Request
              </a>
            </li>
            <li>
              <a href="updateorder.html">
                <i class="bi bi-arrow-repeat"></i> Update Order Status
              </a>
            </li>
            <li>
              <a href="unlockuser.html">
                <i class="bi bi-unlock-fill"></i> Unlock Users
              </a>
            </li>
            <li>
              <a href="editprofile.html">
                <i class="bi bi-file-person-fill"></i> Edit Profile
              </a>
            </li>
            <li>
              <a href="../index1.html" onclick="logout()">
                <i class="bi bi-box-arrow-right"></i></i> Sign Out
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
            <div class="container-fluid">
                <h1>Employee Edit Profile</h1>
                <form>
                    <label>Emp Id</label>
                    <input type="text" id="username" name="empid" class="inputfield"><br>
                    
                    <label>Old password</label>
                    <input type="password" name="oldpass" class="inputfield"><br>
                    <label>New Password</label>
                    <input type="password" name="newpass" class="inputfield"><br>
                    <input type="button" value="Clear" onclick="resetForm()">
                    <input type="button" value="Done" onclick="confirmChanges()">
                </form>
          </div>
        </div>
      </div>
    
    
</body>
</html>