<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .col-3 :hover{
            background-color: #455A64; color: #ECEFF1; 
        }
        .col-1 :hover{
            background-color: #455A64; color: #ECEFF1;
        }
        
    </style>
</head>
<body>
    <!--Links to all the Login views-->
    <h2 style="text-align: center; margin-top: 5px; padding-bottom: 5px;">Sign-In Portal</h2>
    <div class="row" style="text-align: center; margin-left: 20%;">
        <div class="col-3">       
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title">Administrator</h4>
                <a href="admin/adminlogin.html" class="card-link">Login</a> <!--# to be changed to the AdminLogin.html page from Aejaaz-->
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title">Employee</h4>
                <a href="employee/empLogin.html" class="card-link">Login</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Customer</h4>
                    <a href="user/userlogin.html" class="card-link">Login</a> <!--# to be changed to the CustomerLogin.html page from Devraj-->
                </div>
            </div>
        </div>
    </div><br/><br/>
    <div class="row" style="text-align: center; margin-left: 40%;">
        <div class="col-1">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Can't Login?</h4>
                    <a href="raise_ticket.html" class="card-link">Raise a Ticket</a>
                </div>
            </div>  
        </div>
    </div>
</body>
</html>